:root {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #a4c3b2;
  font-size: 16px;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

#score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 20px;
  width: 230px;
  color: #fffff2;
}

#chosing-difficulty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
}

h1 {
  padding-top: 4%;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

#chosed-values {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

label {
  padding: 0 5px 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
select {
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 1% 0;
  background-color: #fffff2;
  border-radius: 6px;
}
input[type="submit"],
.next-button,
.try-again-button {
  margin: 1%;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #be8a60;
  border: 1px solid #333;
  border-radius: 6px;
  width: 80px;
}

.scores {
  text-align: center;
  padding: 10px;
}

.scores-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#question-container {
  height: 100%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  padding: 2% 0;
  border-top: 3px dashed #333;
}
#question-container h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.answers-buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-top: 1%;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fffff2;
}

@media (max-width: 950px) {
  :root {
    font-size: 14px;
  }
  body {
    height: auto;
    gap: 30px;
  }

  #info-container {
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
